.App {
  text-align: center;
  color: #777777;
}

.book_wrapper {
  background-color: white;
  box-shadow: 4px 8px 16px rgba(0,0,0,0.3);
  transition: 0.3s;
  margin: 30px 10px;
  width: 45vw;
  height: 45vh;
  border-radius: 2px;
  display: inline-block;
  min-width: 350px;
  min-height: 270px;
}

.book_wrapper:hover {
  box-shadow: 8px 10px 20px rgba(0,0,0,0.3);
}

.book_wrapper:hover .book_thmb{
  box-shadow: 8px 10px 20px rgba(0,0,0,0.3);
  margin-top: -26px;
  width: 36%;
  height: 90%;
  transition: 0.3s;
}

.book_thmb {
  margin-top: -20px;
  border-radius: 6px;
  height: 78%;
  width: 35%;
  float: left;
  box-shadow: 4px 8px 16px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.book_info_button {
  background-color: #07c164;
  color: white;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 160px;
  border-radius: 7px;
  position: absolute;
  bottom: 1vh;
  transition: 0.3s;
  font-size: 110%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.book_info_button:hover {
  color: #07c164;
  background-color: white;
  transition: 0.3s;
  border: 1px solid #07c164;
}

.book_title {
  color: #777777;
  font-size: 110%;
}

h3 {
  color: #AAA;
  font-size: 100%;
}

.title {
  color: #777777;
  margin-top: 50px;
  margin-bottom: 40px;
}

.book_content {
  float: right;
  width: 62%;
  height: 100%;
  position: relative;
  text-align: left;
}

.no_books {
  color: #AAA;
  margin-top: 60px;
}

input {
  width: 70vw;
  height: 35px;
  margin-bottom: 40px;
  font-size: 130%;
  color: #777777;
}

.search_btn {
  background-color: #07c164;
  color: white;
  width: 75px;
  height: 42px;
  padding-top: 2px;
  border: none;
  transition: 0.3s;
  font-size: 110%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search_btn:hover {
  color: #07c164;
  background-color: white;
  border: 1px solid #07c164;
  transition: 0.3s;
}
